doctype
html(lang='en', manifest='cache.manifest')
  head
    meta(charset='UTF-8')
    title ACC
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='acc.css')
  body
    article.info
      h1.info_title
        span Aggressive #{' '}
        | Chess Clock

      .info_tagline
        span Make your move in time, #{' '}
        | or be punished with a #{' '}
        span random move!

      .info_close: button.btn Let's go!

      h2 Punishment rules

      p You are punished when the clock runs out and you have not made a move.
      p You must then move the unfortunate piece as instructed toward its doom.
      p You must perform the first move that you can perform.
      p If you can't perform a move then get a new move.
      p If no moves of the chosen piece can be performed or you don't have the piece then get a new piece.
      p All steps in the move must be moved, up to what is allowed for that piece.
      p A pawn with an attack move must first try to attack in the instructed direction, and if it can't do that take one step forward instead.
      p You may break any of these rules in an agreement with your opponent, or just break them like whatever.

      .info_close.info_close-extra: button.btn Let's go!

      h2 Tips for more fun

      p Play around with different round times and which pieces can be punished to come up with cool games like:

      ul
        li
          h3 The original idea
          p.
            4 minutes rounds and all pieces but King and Queen are punishable.
            Some time to think your moves over but the games won't go on forever.
        li
          h3 Play dangerously
          p.
            20 seconds rounds, only King and Queen are punishable, and
            the additional rule that if you can't move you don' have to.
            Fast-paced danger for the adrenaline hunters.

      p Don't forget you can change these settings any time while you're playing a game of chess.

      .info_close: button.btn Let's go!

      .info_version Version #{version}

form.setup
  .setup_option.setup_time
    label Time
      input(value='4:00', placeholder='MM:SS')

  .setup_option.setup_pieces
    p
      span Which pieces should #{' '}
      | be punishable?

    ul
      li: label
        input(checked, type='checkbox')
        span.icon.icon-pawn
        span Pawn
      li: label
        input(checked, type='checkbox')
        span.icon.icon-knight
        span Knight
      li: label
        input(checked, type='checkbox')
        span.icon.icon-bishop
        span Bishop
      li: label
        input(checked, type='checkbox')
        span.icon.icon-rook
        span Rook
      li: label
        input(type='checkbox')
        span.icon.icon-queen
        span Queen
      li: label
        input(type='checkbox')
        span.icon.icon-king
        span King

  .setup_start: button.btn Let's go!

.board
  .clock
    .clock_time 00:00
    .clock_actions
      button.clock_next Next
      button.clock_pause Pause
      button.clock_surrender Surrender

  .move
    div.move_piece
      .move_piece_icon.icon
      .move_piece_name
      //button.move_piece_reroll.move_reroll
      //  span.icon.icon-reload(title='Reroll piece')

    div.move_action
      .move_action_description
      //button.move_action_reroll.move_reroll
      //  span.icon.icon-reload(title='Reroll move')

    .move_next
      button
        span.icon.icon-next

  button.showSetup o

button.showInfo i

script(src='acc.js')
//script(src='//localhost:35729/livereload.js')
